@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/alegreya@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/barlowSemiCondensed@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/bebasNeue@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/cinzel@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/cormorantGaramond@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/encodeSans@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/hangeulNuri@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/hind@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/iropkeBatang@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/jejuGothic@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/jejuMyeongjo@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/lexendPeta@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/nanumBarunGothic@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/nanumSquareRound@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/notoSans@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/notoSerif@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/oswald@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/playfairDisplay@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/pretendard@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/quicksand@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/raleway@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/roboto@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/sCoreDream@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/spaceMono@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/spoqaHanSans@latest/index.min.css');
@import url('https://cdn.jsdelivr.net/gh/mooncorp-font/texGyreCursor@latest/index.min.css');

.font-alegreya{
	font-family: 'Alegreya', 'sans-serif' !important;
}

.font-barlowSemiCondensed{
	font-family: 'BarlowSemiCondensed', 'sans-serif' !important;
}

.font-bebasNeue{
	font-family: 'BebasNeue', 'sans-serif' !important;
}

.font-cinzel{
	font-family: 'Cinzel', 'sans-serif' !important;
}

.font-cormorantGaramond{
	font-family: 'CormorantGaramond', 'sans-serif' !important;
}

.font-encodeSans{
	font-family: 'EncodeSans', 'sans-serif' !important;
}

.font-hangeulNuri{
	font-family: 'HangeulNuri', 'sans-serif' !important;
}

.font-hind{
	font-family: 'Hind', 'sans-serif' !important;
}

.font-iropkeBatang{
	font-family: 'IropkeBatang', 'sans-serif' !important;
}

.font-jejuGothic{
	font-family: 'JejuGothic', 'sans-serif' !important;
}

.font-jejuMyeongjo{
	font-family: 'JejuMyeongjo', 'sans-serif' !important;
}

.font-lexendPeta{
	font-family: 'LexendPeta', 'sans-serif' !important;
}

.font-nanumBarunGothic{
	font-family: 'NanumBarunGothic', 'sans-serif' !important;
}

.font-nanumSquareRound{
	font-family: 'NanumSquareRound', 'sans-serif' !important;
}

.font-notoSans{
	font-family: 'NotoSans', 'sans-serif' !important;
}

.font-notoSerif{
	font-family: 'NotoSerif', 'sans-serif' !important;
}

.font-oswald{
	font-family: 'Oswald', 'sans-serif' !important;
}

.font-playfairDisplay{
	font-family: 'PlayfairDisplay', 'sans-serif' !important;
}

.font-pretendard{
	font-family: 'Pretendard', 'sans-serif' !important;
}

.font-quicksand{
	font-family: 'Quicksand', 'sans-serif' !important;
}

.font-raleway{
	font-family: 'Raleway', 'sans-serif' !important;
}

.font-roboto{
	font-family: 'Roboto', 'sans-serif' !important;
}

.font-sCoreDream{
	font-family: 'SCoreDream', 'sans-serif' !important;
}

.font-spaceMono{
	font-family: 'SpaceMono', 'sans-serif' !important;
}

.font-spoqaHanSans{
	font-family: 'SpoqaHanSans', 'sans-serif' !important;
}

.font-texGyreCursor{
	font-family: 'TexGyreCursor', 'sans-serif' !important;
}
